.page-wrap {
  padding-top: 10px;
  .model-title {
    font-size: 20px;
    line-height: 20px;
    color: #f19f03;
    font-weight: 400;
    margin: 0;
  }
  .model-desc {
    margin: 6px 0;
    color: #5f5f5f;
  }
  .model-wrap {
    // width: 1200px;
    display: flex;
    justify-content: center;
    background-color: #eee;
    max-height: 500px;
    .code-wrap {
      width: 500px;
    }
    .action-wrap {
      flex: 1;
      padding: 16px;
    }
    .console-wrap {
      flex: 1;
      max-height: 300px;
      border: 1px solid #eee;
      background-color: #fff;
      padding: 8px 12px;
      overflow-y: scroll;
      .title {
        font-size: 16px;
        color: #848484;
        margin-bottom: 5px;
      }
    }
  }
}
